@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/Inter.woff2') format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Besley';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Besley-Italic.woff2') format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Outpost Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/src/content/type-design/_assets/fonts/OutpostMono-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Outpost Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/src/content/type-design/_assets/fonts/OutpostMono-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Outpost Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/src/content/type-design/_assets/fonts/OutpostMono-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Moxtile Variable';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/src/content/type-design/_assets/fonts/Moxtile-Variable.woff2') format('woff2-variations'),
       url('/src/content/type-design/_assets/fonts/Moxtile-Variable.woff') format('woff-variations'),
       url('/src/content/type-design/_assets/fonts/Moxtile-Variable.ttf') format('truetype-variations');
  font-variation-settings: 'wght' 400, 'CNTR' 0, 'TILT' 0;
}
