---
import { themeConfig } from '@/config'
import ThemeToggle from '@/components/ui/ThemeToggle.astro'
---

<header>
  <nav>
    <a href="/">{themeConfig.site.title}</a>
    <ThemeToggle />
  </nav>
  {themeConfig.site.description}
</header>
<style>
  header {
    margin: 0;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
  }
  header a {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-bold);
    color: var(--text-primary);
    text-decoration: none;
    min-width: 3rem;
    display: block;
    margin-bottom: -0.6rem;
  }
  header {
    color: var(--text-secondary);
  }
</style>
